.headline
  = link_to t('help.back'), webgrouper_patient_cases_url, :class => "button", :id => 'back-button'
%h2
  We rock!
%p
  
= link_to "readmebaby", "http://sixrevisions.com/content-strategy/about-page-guidelines/"
#tabs
  %ul
    %li
      <a href="#ri">Rathesan Iyadurai</a>
    %li
      <a href="#sk">Simon Kiener</a>
    %li
      <a href="#ms">Michael Single</a>
    %li
      <a href="#sm">Stefan Moser</a>
  #ri
    Tab 1 content
  #sk
    Tab 2 content
  #ms
    Tab 3 content
  #sm
    https://github.com/panmari