%fieldset#settlement_hints.result
  %legend= t "result.settlement_hints.legend"
  %table
    %tbody
      %tr
        %th
          = t("result.settlement_hints.additional_fees")
        %td
          none?
      %tr
        %th
          = t("result.settlement_hints.reuptake")
        %td
          blub?