.sameline
  .diagnoses_row
    - 5.times do |i|
      %span.field
        = autocomplete_field_tag "webgrouper_patient_case[diagnoses][ID]", 
                          "VALUE",
                          autocomplete_Icd_code_webgrouper_patient_cases_path(:system_id => @webgrouper_patient_case.system_id), 
                          :class => 'autocomplete small_field'
        %span.spacer
        %span.splitter
    .spacer
  .diagnoses_buttons