.sameline
  .diagnoses_row
    - 5.times do |i|
      %span.field
        = text_field_tag "webgrouper_patient_case[diagnoses][ID]", "VALUE", :size => 7
        %span.spacer
    .spacer
  .diagnoses_buttons