- if @webgrouper_patient_case.errors.any?
  .errorflash
    %h4
      = t :found_errors
    %ul
      - @webgrouper_patient_case.errors.full_messages.each do |message|
        %li
          = message
