- if @webgrouper_patient_case.errors.any?
  .errors
    %h4
      ="You have the following errors:"
    %ul
      - @webgrouper_patient_case.errors.full_messages.each do |message|
        %li
          = message