- if @webgrouper_patient_case.errors.any?
  .errorflash
    %h2
      = t 'errors.template.body'
    %ul
      - @webgrouper_patient_case.errors.each do |attr, msg|
        %li
          = t("simple_form.labels.webgrouper_patient_case." + attr.to_s) + " " + msg
