- required_rows = (@webgrouper_patient_case.procedures.count/5)+1
- if required_rows == 0
  - required_rows = 1
- required_rows.times do
  :javascript
    var json = "#{escape_javascript(@webgrouper_patient_case.procedures.to_json.html_safe)}";
    add_fields("procedures", "#{escape_javascript(row('procedures'))}", json);