.procedures_row
  - required_rows = (@webgrouper_patient_case.procedures.count / 5).ceil
  - if required_rows == 0
    - required_rows = 1
  - required_rows.times do
    :javascript
      add_fields(".procedures_row", "procedures", "#{escape_javascript(row('procedures'))}");
.procedures_row
  = link_to_add_fields("+", "procedures")