.sameline
  .procedures_row
    - 3.times do |j|
      %span.field
        = autocomplete_field_tag "webgrouper_patient_case[procedures][ID][0]", 
                               "VALUE", 
                               autocomplete_CHOP_code_webgrouper_patient_cases_path(:system_id => @webgrouper_patient_case.system_id), 
                               :class => 'autocomplete small_field'
        - options = options_for_select(["", "R", "L", "B"])
        = select_tag "webgrouper_patient_case[procedures][ID][1]", 
                          options,
                          :class => 'tiny_field'
        = text_field_tag "webgrouper_patient_case[procedures][ID][2]", 
                         "VALUE",
                         :class => 'small_field date_picker'
      %span.spacer
      %span.splitter
  .procedures_buttons