.procedures_row
  - 3.times do |j|
    = text_field_tag "webgrouper_patient_case[procedures][ID][1]", "VALUE", :size => 6
    = text_field_tag "webgrouper_patient_case[procedures][ID][2]", "VALUE", :size => 4
    = text_field_tag "webgrouper_patient_case[procedures][ID][3]", "VALUE", :size => 6
    %span.spacer
  .spacer