/* ----- SimpleForm Styles ----- 
 * Source: https://github.com/plataformatec/simple_form
 */

#system * {
	float: left;
}

#system select {
	width: 13em;
}

#system legend {
	float: none;
}

#system .small_field label {
	width: 160px;
}

#system .small_field input.string {
	width: 90px;
}

input.string:disabled {
	background-color: #eee;
}
select#webgrouper_patient_case_age_mode {
	width: 70px;
}

.simple_form div.input {
  /*margin-bottom: 10px; */
}

.simple_form input.string {
  width: 11em;
}

.simple_form select {
  max-width: 240px;
}

.simple_form select option {
	display: block !important;
}

.simple_form label {
  float: left;
  width: 200px;
  text-align: right;
	margin-right: 1em;
}

input[type='submit'] {
  float: left;
  margin-left: 235px;
}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.radio {
	width: 50px;
  margin: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors input {
	margin-top: 10px;
	padding: 2px;
	background-color: #c00;
	/* this breaks datepicker */
	/* display: table; */
}

.simple_form .error {
  clear:   left;
  color:   black;
  display: block;
  margin-left: 120px;
  font-size:    12px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size:    12px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}