/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.logo {
}

.sameline * {
	display: inline;
}

.clear_fields {
	float: left;
	margin-left: 280px;
	margin-top: 6px;
}

.locales {
	float: right;
}

.locales li {
	list-style: none;
	display: inline;
}

.spacer {
	margin-right: 1em;
}

/*
 * Various fieldsets:
 */

fieldset#system {
    
}

fieldset#stay {
   width: 45%;
   float: left;
}

fieldset#patient-data {
   width: 45%;
   float:right;
}

fieldset#drg-proc {
    float: left;
}

fieldset#result {
    float: left;
}

fieldset#cost-weight {
    float: right;
}

fieldset#debug {
    float: left;
}
