/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.inline {
	display: inline;
}

.clear_fields {
	float: left;
	margin-left: 280px;
	margin-top: 6px;
}

.locales {
	float: right;
}

.spacer {
	margin-right: 1em;
}

/*
 * Different fieldsets:
 */

fieldset#system {
    
}

fieldset#stay {
   float: left;
}

fieldset#patient-data {
   float: right;
}

fieldset#drg-proc {
    float: left;
}

fieldset#result {
    float: left;
}

fieldset#cost-weight {
    float: right;
}

fieldset#debug {
    float: left;
}
