/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


/**
 * Everything belonging to the header goes here:	
 */

/* 	Has to be logo-image-height + 1 */
.header {
	height: 94px;
}

.logo {
	position: absolute;
	top: 0;
	right: 0;
}

.locales li {
	list-style: none;
	display: inline;
	text-align: right;
}
.sameline * {
	display: inline;
}

.container {
	position: absolute;
	margin: 10px;
	width: 980px;
}
.locales {
	position: absolute;
	top: 0;
	right: 290px;
}

.clear_fields {
	float: left;
	margin-left: 280px;
	margin-top: 6px;
}

.spacer {
	margin-right: 1em;
}


/*
 * Various fieldsets:
 */
fieldset#stay, fieldset#patient-data {
   width: 47%;
}

fieldset {
	padding-top: 0;
	padding-left: 0;
	margin: 0;
}
fieldset#drg-proc {
	width: 100%;
	padding-right: 0;
}

fieldset legend {
	margin: 0 1.5em;
	padding: 8px;
}

fieldset.result {
	padding-left: 1.5em;
	margin-right: 1em;
}

fieldset.result legend {
	margin: 0;
}
