- content_for :preamble do
  %tr
    %td
      Die SwissDRG bezweckt in der Schweiz die Erarbeitung und Weiterentwicklung sowie die Anpassung und Pflege der für die pauschale Vergütung der stationären Behandlung in Spitälern notwendigen gesamtschweizerischen Tarifstrukturen auf der Basis eines DRG-Systems (Diagnosis Related Groups) und weiterer dazu notwendiger Grundlagen. Das SwissDRG-Abrechnungssystem soll per 1. Januar 2012 gesamtschweizerisch einheitlich angewendet werden.
  %tr
    %td
      Für die Anwendung des SwissDRG-Systems ist eine Grouper-Software erforderlich, durch welche die Zuweisung eines Patientendatensatzes zu einer bestimmten DRG erfolgt (sog. Gruppierungsvorgang).
  %tr
    %td
      Die auf der vorliegenden Website zur Verfügung gestellten Grouper-Versionen werden von der SwissDRG AG (nachfolgend "SwissDRG"), Haslerstrasse 21, 3008 Bern vor der gesamtschweizerisch einheitlichen Einführung sämtlichen interessierten Kreisen wie namentlich Spitälern und Krankenversicherungen (nachfolgend "Nutzer") mit Sitz
      %span.bold.underlined
        in der Schweiz zu Testzwecken
      online zur Verfügung gestellt.

- content_for :group_right do
  %tr
    %td
      (1)
    %td
      Die online zur Verfügung gestellte Grouper-Software (Programme und Dokumentation) stehen und verbleiben im Eigentum der SwissDRG und sind urheberrechtlich geschützt. Sämtliche Schutzrechte, insbesondere Urheberrechte an der Grouper-Software, stehen im Verhältnis zwischen den Parteien ausschliesslich der SwissDRG zu.
  %tr
    %td
      (2)
    %td
      Dem Nutzer wird zu den in dieser Vereinbarung festgehaltenen Bedingungen unentgeltlich ein nicht übertragbares und nicht ausschliessliches Recht zur Nutzung der auf der Website der SwissDRG zur Verfügung gestellten Grouper zwecks Gruppierung von anonymisierten medizinischen und administrativen Patientendaten zu Testzwecken innerhalb der Schweiz erteilt.
  %tr
    %td
      (3)
    %td
      Die Grouper-Software kann ausschliesslich online über die Website der SwissDRG verwendet werden. Der Nutzer erhält von der SwissDRG keine Kopie der Grouper-Software.
  %tr
    %td
      (4)
    %td
      Die SwissDRG ist berechtigt, die Nutzung der Grouper-Software jederzeit ohne Vorankündigung und ohne Begründung einzuschränken oder nicht mehr anzubieten.
      
- content_for :data_security do
  %tr
    %td
      (1)
    %td
      Dem jeweiligen Nutzer ist bekannt, dass das Internet öffentlich zugänglich ist. Die freiwillige Preisgabe von Informationen und Daten aller Art über das Internet erfolgt auf eigenes Risiko des Nutzers.       
  %tr
    %td
      (2)
    %td
      Die SwissDRG schützt die Datenübermittlung durch angemessene Massnahmen. Auch mit diesen Massnahmen nach aktuellen Sicherheitsstandards (alle Grouper-Versionen sind per SSL mit einem AES-128 bit Schlüssel verschlüsselt) ist ein Informationsverlust oder gar Datendiebstahl durch Dritte nicht vollständig ausgeschlossen.
  %tr
    %td
      (3)
    %td
      Der Nutzer stellt durch geeignete Massnahmen selbstständig sicher, jederzeit die korrekte URL-Adresse der SwissDRG zu verwenden, um dadurch allfällige Phishing-Attacken zu verhindern.

- content_for :privacy do
  %tr
    %td
      (1)
    %td
      Der Datenschutz ist der SwissDRG ein wichtiges Anliegen. Die SwissDRG beachtet bei der Erfassung und Bearbeitung von Daten die Bestimmungen der schweizerischen Datenschutzgesetzgebung.
  %tr
    %td
      (2)
    %td
      Die der SwissDRG im Rahmen des Gruppierungsvorganges übermittelten Daten werden nicht an Dritte weitergegeben und ausschliesslich für den Gruppierungsvorgang verwendet.
      
- content_for :responsibility do
  %tr
    %td
      (1)
    %td
      Die Nutzer haben nach bestem Wissen und Gewissen alles zu unterlassen, was den Interessen der SwissDRG zuwiderlaufen könnte.
  %tr
    %td
      (2)
    %td
      Dem Nutzer ist bekannt, dass die online zur Verfügung gestellte Grouper-Software nicht für den Markt freigegeben ist und ihr durch die SwissDRG in der aktuell vorliegenden Fassung lediglich zu Testzwecken zur Verfügung gestellt wird.
  %tr
    %td
      (3)
    %td
      Der Grouper wird dem jeweiligen Nutzer "wie dargestellt" und "nach Verfügbarkeit" bereitgestellt. Die SwissDRG AG sowie ihre Kooperationspartner, Lieferanten und Lizenzgeber übernehmen keine Gewährleistung für Mängel der Software (Programme und Dokumentation) und sie schliessen, soweit gesetzlich zulässig, die Haftung für allfällige direkte oder indirekte Schäden aller Art, einschliesslich Folgeschäden wie entgangenen Gewinn, Datenverlust und Ansprüche Dritter, die durch die Grouper-Software oder deren Gebrauch entstehen aus. Der Haftungs- und Gewährleistungsausschluss gilt im Speziellen in Bezug auf die allgemeine Gebrauchstauglichkeit der Grouper-Software und deren Eignung für einen bestimmten Zweck, die Möglichkeit zur Nutzung im Verhältnis zwischen den Spitälern und Krankenversicherern und die Nichtverletzung von Rechten Dritter.
  %tr
    %td
      (4)
    %td
      Weder die SwissDRG noch die mit ihr verbundenen Unternehmen gewährleisten, dass der Grouper den Anforderungen des Nutzers entspricht und unterbrechungs- und störungsfrei, sicher, fehlerfrei oder vollständig ist.
  %tr
    %td
      (5)
    %td
      Die SwissDRG haftet weder für allfällige Informations- und Datenverluste welche durch das Senden der Daten entstehen können, noch für das unbefugte Zugreifen oder Bearbeiten durch nicht berechtigte Dritte.
  %tr
    %td
      (6)
    %td
      Die SwissDRG haftet nicht für Schäden, die dem Nutzer durch Missbrauch der Verbindung (einschliesslich Viren oder sonstige schädliche Komponenten) von Dritten zugefügt werden.
      
- content_for :terminatory do
  %tr
    %td
      (1)
    %td
      Sollte eine oder mehrere der vorstehenden Bestimmungen ganz oder teilweise unwirksam oder undurchführbar sein oder werden, so wird die Wirksamkeit der übrigen Bestimmungen hiervon nicht berührt. Anstelle der unwirksamen und undurchführbaren Bestimmungen werden die Parteien eine solche Bestimmung vereinbaren, die im Rahmen des rechtlich Möglichen hinsichtlich Ort, Zeit, Mass und Geltungsbereich dem am nächsten kommt, was von den Vertragsparteien nach dem ursprünglichen Sinn und Zweck der unwirksamen oder undurchführbaren Bestimmung wirtschaftlich gewollt war. Gleiches gilt für etwaige Lücken im Vertrag.
  %tr
    %td
      (2)
    %td
      Rechte und Pflichten aus dieser Vereinbarung sind nicht übertragbar.
  %tr
    %td
      (3)
    %td
      Die vorliegende Nutzungsvereinbarung liegt in deutscher, französischer und italienischer Sprache vor. Sollten zwischen den einzelnen Sprachversionen inhaltliche Differenzen bestehen, ist einzig die deutsche Sprachversion massgebend.
  %tr
    %td
      (4)
    %td
      Streitigkeiten aus der vorliegenden Nutzungsvereinbarung unterliegen vollumfänglich schweizerischem Recht.
  %tr
    %td
      (5)
    %td
      Ausschliesslicher Gerichtsstand ist Bern.