#about
  - body =  "\n\n ---------------------------------------------- \n" + "Please insert your inquery above this line \n" 
  - if @result
    - body += current_case_url
  - else
    - body += request.url
  = mail_to "webgrouper@swissdrg.com", "Contact", :encode => "javascript", :body => body
