.locales
  = link_to "Deutsch", patient_cases_url(:locale => "de")
  = link_to "Francais", patient_cases_url(:locale => "fr")
  = link_to "Italiano", patient_cases_url(:locale => "it")
  = link_to "English", patient_cases_url(:locale => "en")