/[if lt IE 9]
  %script{:type => "text/javascript", :src => "http://html5.shiv.googlecode.com/svn/trunk/html5.js"}
= stylesheet_link_tag 'blueprint/screen', :media => 'screen, print'
= stylesheet_link_tag 'blueprint/plugins/buttons/screen', :media => 'screen, print'
= stylesheet_link_tag 'application', :media => 'screen, print'
/[if lt IE 8]
  = stylesheet_link_tag 'blueprint/ie'